{{#if banners.bottom}}
<!-- <div class="banners" data-banner-location="bottom">
    <div class="banner">
        {{{limit banners.bottom 1}}}
    </div>
</div> -->
{{/if}}

<footer id="footer">
	{{#if template_file '===' 'pages/home'}}
    <section class="top-footer">
        <div class="container">
            <!-- <img src="http://placehold.it/600x300" alt="" class="img-responsive girl"> -->
            <div class="row">
                <div class="col-sm-8 f-left">
                    <h3>Accounting professional? Partner with KHBoffice</h3>
                    <p>Get information about our Extended Team.</p>
                </div>
                <div class="col-sm-4 cta text-center">
                    <a href="https://khbofficellc.formstack.com/forms/extended_team_sign_up" target="new" class="btn btn-green btn-lg">Contact KHB</a>
                </div>
            </div>
        </div>
    </section>
    {{/if}}
    <section class="md-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-12" data-section-type="storeInfo">
                    <h4>Contact</h4>
                    <a href="tel:{{lang phone_number=settings.phone_number}}">
                    	{{#if settings.phone_number}}
			                <strong>{{lang 'footer.call_us' phone_number=settings.phone_number}}</strong>
			            {{/if}}
                   </a>
                   <br>
                   {{settings.store_name}}
                    <address>{{nl2br settings.address}}</address>
                </div>
                <!-- .col 3 -->
                <div class="col-md-3 col-xs-6" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">{{lang 'footer.navigate'}}</h5>
                <ul class="footer-info-list links">
                    {{#each pages}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    <li>
                        <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                    </li>
                </ul>
                </div>
                
                {{#if theme_settings.shop_by_brand_show_footer}}
	            <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
	                <h5 class="footer-info-heading">{{lang 'footer.brands'}}</h5>
	                <ul class="footer-info-list">
	                    {{#each shop_by_brand}}
	                        <li>
	                            <a href="{{url}}">{{name}}</a>
	                        </li>
	                    {{/each}}
	                    <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
	                </ul>
	            </article>
	            {{/if}}
                
                <article class="footer-info-col" data-section-type="newsletterSubscription">
	                {{#if settings.show_newsletter_box}}
	                    {{> components/common/subscription-form}}
	                {{/if}}
	                {{> components/common/payment-icons}}
	            </article>
                <!-- .col 3 -->
            </div>
        </div>
    </section>
    <section class="btm-footer">
        <div class="container">
            <div class="row">
                {{#if theme_settings.show_copyright_footer}}
		            <div class="col-sm-8 col-xs-12">
		                <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}} </p>
		            </div>
		        {{/if}}
                <!-- .col 8 -->
                {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_right'}}
		            <article class="
		                footer-info-col--social
		                footer-info-col--{{#if theme_settings.social_icon_placement_bottom '===' 'bottom_left'}}left{{else}}right{{/if}}"
		                data-section-type="footer-webPages">
		                    {{> components/common/social-links}}
		            </article>
		        {{/if}}
            </div>
        </div>
    </section>
</footer>