<!-- start: Service -->
    <section id="service" class="">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="service-box">
                        <img src="{{cdn 'img/icon_2.png'}}" alt="">
                        <h3>Accounting</h3>
                        <p>Combine our accounting and bookkeeping support with your tax advisor's year end advice, and you have a winning combination.</p>
                    </div>
                    <!-- end: Box -->
                </div>
                <div class="col-sm-4">
                    <div class="service-box">
                        <img src="{{cdn 'img/icon_3.png'}}" alt="">
                        <h3>Ecommerce</h3>
                        <p>Whether you have a brick and mortar store and need to add an ecommerce complement, or you are online-only, we can help.</p>
                    </div>
                    <!-- end: Box -->
                </div>
                <div class="col-sm-4">
                    <div class="service-box">
                        <img src="{{cdn 'img/icon_1.png'}}" alt="">
                        <h3>Startups</h3>
                        <p>You wouldn't go on a road trip without a map, and you shouldn't start a business without a plan. Whether you need industry-specific bookkeeping and planning, QuickBooks or BigCommerce help, we are there for you.</p>
                    </div>
                    <!-- end: Box -->
                </div>
            </div>
        </div>
    </section>
    <!-- end: services -->