<!-- Tabbed.Nav -->
    <section id="tabbed" class="space">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-8 col-sm-offset-2">
                    <h5>WHAT CAN I DO WITH KHB?</h5>
                    <h1>Take a Second and Gain a Minute!</h1>
                    <p class="lead">Combine our multi-faceted business support approach for a solution only we can provide.</p>
                </div>
            </div>
            <!-- start: Tabbed Nav -->
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <!-- Nav tabs -->
                    <ul id="tabnav" class="clearfix tabs-nav list-unstyled">
                        <li class="branding clearfix">
                            <a href="#home" data-toggle="tab">
                                <img src="{{cdn 'img/icons/paint9.svg'}}" alt="">
                                <span>Bookkeeping</span>
                            </a>
                        </li>
                        <li class="design clearfix">
                            <a href="#profile" data-toggle="tab">
                                <img src="{{cdn 'img/icons/appbar2.svg'}}" alt="">
                                <span>Ecommerce Design</span>
                            </a>
                        </li>
                        <li class="active dev clearfix">
                            <a href="#dev" data-toggle="tab">
                                <img src="{{cdn 'img/icons/app4.svg'}}" alt="">
                                <span>QuickBooks</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- .row -->
            <div class="row">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane" id="home">
                        <div class="col-sm-6 animated fadeIn">
                            <img src="{{cdn 'img/shoot-1.png'}}" alt="" class="img-responsive">
                        </div>
                        <div class="col-sm-6 right-tabbed animated fadeInRight">
                            <div class="tabbed-content">
                                <h3>Custom Solutions</h3>
                                <p>We started out as QuickBooks bookkeepers, and we remain true to those roots. Our bookkeepers are ready to work with your business on a daily, weekly, or monthly basis, and regularly are more cost efficient than trying to manage a full or regular part-time employee.</p>
                                <p class="link">
                                    <a href="#" class="btn btn-border ">I Need This!</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="profile">
                        <div class="col-sm-6 animated fadeIn img-container">
                            <img src="{{cdn 'img/mockup.jpg'}}" alt="" class="img-responsive">
                        </div>
                        <div class="col-sm-6 right-tabbed animated fadeIn">
                            <div class="tabbed-content">
                                <h3 class="heading">
                                    <em>Ecommerce</em> your next step?
                                </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. Praesent faucibus nisl sit amet nulla sollicitudin.</p>
                                <ul class="tabbed-action list-inline list-unstyled">
                                    <li class="watch-video">
                                        <img src="images/video-button-play.png" alt="">
                                        <span class="title">See It In Action</span>
                                    </li>
                                    <li class="link">
                                        <a href="#" class="btn btn-blue">Learn more</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- .tab pane -->
                    <div class="tab-pane active" id="dev">
                        <div class="col-sm-6 animated fadeIn">
                            <img src="{{cdn 'img/browser_2.png'}}" alt="" class="img-responsive">
                        </div>
                        <div class="col-sm-6">
                            <h3 class="heading">
                                <em>QuickBooks</em> Training & Support<br>
                                <img src="{{cdn 'img/5-star-rating.png'}}" style="position: absolute; margin-top: 5px;">
                            </h3>
                            <ul class="bullet-list light-grey-bullets list-unstyled">
                                <li>3rd party applications integrated with QuickBooks</li>
                                <li>QuickBooks Desktop Basic / Pro / Premier</li>
                                <li>QuickBooks Point of Sale</li>
                                <li>Intuit Payroll</li>
                                <li>Intuit Payments</li>
                            </ul>
                            <div class="grey-bg small-cta">
                                <div class="row">
                                    <div class="col-sm-6 text-center">
                                        <h6>Getting started is easy!</h6>
                                    </div>
                                    <div class="col-sm-6 text-center">
                                        <a href="#" class="btn btn-green">Contact Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end: Tabbed section -->