    <section id="featured" class="space grey-bg-50">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="heading">
                        <em>Moving to Ecommerce?</em> Let us build your beautiful, intelligent store that works <strong>for you.</strong>
                    </h3>
                    <p>A sophisticated platform for increasing sales, streamlining your business and expanding to new channels.</p>
                    <div class="bottomCont">
                        <div class="row">
                            <div class="col-sm-12">
                                <img class="" src="https://khboffice.com/product_images/uploaded_images/bigcommerce-partner-badge.png" alt="">
                            </div>
                            <div class="col-sm-9" style="float: right; padding-left: 0px; margin-right: 10px;">
                                <h4 style="margin-top: 0px; margin-bottom: 15px;">Recommended Partner</h4>
                                <p> As certified experts, we can help you design and build a beautiful store, improve your marketing results, connect to critical business software, and more. No matter what your needs or your budget, we have a solution to fit.</p>
                            </div>
                        </div>
                        <!-- .row -->
                    </div>
                    <!-- .bottomCont -->
                </div>
                <!-- .col 6 -->
                <div class="col-sm-6 pricing">
                    <h3 style="white-space: nowrap;">KHB Marketing</h3>
                    <p class="punch">Providing strategic and creative digital solutions for growth. We are focused on creating results through partnership, expertise and innovation.</p>
                    <ul class="list-unstyled bullets">
                        <li>Premium Designs</li>
                        <li>All-in-one solutions</li>
                        <li>Branding Solution</li>
						<li>Marketing  Strategy</li>
                    </ul>
					<ul class="list-unstyled bullets" style="">
                        <li>Product management</li>
                        <li>Integrated payments</li>
                        <li>Full support</li>
						<li>Solutions for all levels</li>
                   </ul>
                   
                   <div class="white-bg small-cta">
                        <div class="row">
                            <div class="col-sm-6 text-center">
                                <h6>Getting started is easy!</h6>
                            </div>
                            <div class="col-sm-6 text-center">
                                <a href="contact-us/" class="btn btn-green">Contact Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- <ul class="list-inline list-unstyled price-btns">
                        <li class="active">
                            <a class="btn btn-green" href="#">Annually</a>
                        </li>
                        <li class="active">
                            <a class="btn btn-green-border" href="#">Hourly</a>
                        </li>
                    </ul> -->
                    <!-- <div class="price">
                        <p>
                            <span class="alpha">
                                <sup>$</sup>60.00</span>
                            <span class="gamma">
                                <sup>hour</sup>
                                <del>60.00</del>
                            </span>
                        </p>
                        <p class="price-note">Limited time</p>
                    </div> -->
                </div>
                <!-- .col 6 -->
            </div>
        </div>
    </section>