    <section id="featured" class="space grey-bg-50">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="heading">
                        <em>Moving to Ecommerce?</em> Let us build your beautiful, intelligent store that works <strong>for you.</strong>
                    </h3>
                    <p>A sophisticated platform for increasing sales, streamlining your business and expanding to new channels.</p>
                    <div class="bottomCont">
                        <div class="row">
                            <div class="col-sm-12">
                                <img class="" src="https://khboffice.com/product_images/uploaded_images/bigcommerce-partner-badge.png" alt="">
                            </div>
                            <div class="col-sm-9" style="float: right; padding-left: 0px; margin-right: 10px;">
                                <h4 style="margin-top: 0px; margin-bottom: 15px;">Recommended Partner</h4>
                                <p> As certified experts, we can help you design and build a beautiful store, improve your marketing results, connect to critical business software, and more. No matter what your needs or your budget, we have a solution to fit.</p>
                            </div>
                        </div>
                        <!-- .row -->
                    </div>
                    <!-- .bottomCont -->
                </div>
                <!-- .col 6 -->
                <div class="col-sm-3 pricing">
                    <h3 style="white-space: nowrap;">Annual Commitment</h3>
                    <p class="punch">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    <ul class="list-unstyled bullets">
                        <li>Choose template</li>
                        <li>Branding Solution</li>
                        <li>Full support</li>
                    </ul>
                    <ul class="list-inline list-unstyled price-btns">
                        <li>
                            <a class="btn btn-green" href="#">1 month</a>
                        </li>
                        <li class="active">
                            <a class="btn btn-green-border" href="#">1 year</a>
                        </li>
                    </ul>
                    <div class="price">
                        <p>
                            <span class="alpha">
                                <sup>$</sup>50.00</span>
                            <span class="gamma">
                                <sup>hour</sup>
                                <!-- <del>60.00</del> -->
                            </span>
                        </p>
                        <p class="price-note">Limited time</p>
                    </div>
                </div>
                <!-- .col 3 -->
                <div class="col-sm-3 pricing">
                    <h3>Per Project</h3>
                    <p class="punch">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    <ul class="list-unstyled bullets">
                        <li>Custom design</li>
                        <li>Branding Solution</li>
                        <li>Full support</li>
                    </ul>
                    <ul class="list-inline list-unstyled price-btns">
                        <li>
                            <a class="btn btn-green" href="#">1 month</a>
                        </li>
                        <li class="active">
                            <a class="btn btn-green-border" href="#">1 year</a>
                        </li>
                    </ul>
                    <div class="price" id="price-1-year">
                        <p>
                            <span class="alpha">
                                <sup></sup>Call for price</span>
                            <span class="gamma">
                                <sup></sup>
                                <!-- <del>140.00</del> -->
                            </span>
                        </p>
                        <p class="price-note">Best value for your money</p>
                    </div>
                </div>
                <!-- .col 3 -->
            </div>
        </div>
    </section>