<section id="clients" class="space dark-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h1>You're in good company</h1>
                    <p class="lead">Reviews from our wonderful clients!</p>
                </div>
            </div>
            <div class="row hidden-sm logos">
                <ul class="list-unstyled list-inline">
                    <li class="col-sm-2">
                        <a href="#">
                            <img src="https://cdn6.bigcommerce.com/s-e3egl/product_images/uploaded_images/ryzach-300x150.png?t=1503247484" alt="" class="img-responsive">
                        </a>
                    </li>
                    <li class="col-sm-2">
                        <a href="#">
                            <img src="https://cdn6.bigcommerce.com/s-e3egl/product_images/uploaded_images/burners-cigar-lounge-300x150.png?t=1503247485" alt="" class="img-responsive">
                        </a>
                    </li>
                    <li class="col-sm-2">
                        <a href="#">
                            <img src="https://cdn6.bigcommerce.com/s-e3egl/product_images/uploaded_images/wilson-dalton-300x150.png?t=1503247485" alt="" class="img-responsive">
                        </a>
                    </li>
                    <li class="col-sm-2">
                        <a href="#">
                            <img src="https://cdn6.bigcommerce.com/s-e3egl/product_images/uploaded_images/scheben-300x150.png?t=1503247486" alt="" class="img-responsive">
                        </a>
                    </li>
                    <li class="col-sm-2">
                        <a href="#">
                            <img src="https://cdn6.bigcommerce.com/s-e3egl/product_images/uploaded_images/home-place-passtures-300x150.png?t=1503247486" alt="" class="img-responsive">
                        </a>
                    </li>
                    <li class="col-sm-2">
                        <a href="#">
                            <img src="https://cdn6.bigcommerce.com/s-e3egl/product_images/uploaded_images/sugar-daddys-deli-300x150.png?t=1503247486" alt="" class="img-responsive">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row quote-section">
                <div class="col-sm-4">
                    <blockquote class="quote-text">
                        "I've been working with KHBOffice for almost a year and I couldn't be happier. Katie and her team have helped us overcome many hurdles while setting up a new POS system and managing our books. They are always prompt to return your call or email and are extremely knowledgeable in the services they provide. I would highly recommend KHBOffice to anyone looking for help to better manage their business."</a>
                    </blockquote>
                    <img class="quote-author-pic" src="https://lh6.googleusercontent.com/-YHdeFEbxf7A/AAAAAAAAAAI/AAAAAAAADOY/3Ugxaf6OQs0/s40-c0x00000000-cc-rp-mo/photo.jpg" alt="">
                    <p class="quote-author">
                        <a target="new" href="https://www.google.com/search?source=hp&q=KHBoffice&oq=KHBoffice&gs_l=psy-ab.3..0i10k1l4.1682.4593.0.4688.19.13.5.0.0.0.110.1015.11j1.12.0....0...1.1.64.psy-ab..2.17.1041...0j0i131k1.LTwUsXHsMeE#lrd=0x8841c4369c4a6cbf:0x9e8d19651fe26055,1,">
                            <strong>Josh Johnson</strong>
                        </a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <blockquote class="quote-text">
                        "Katie and her team are top notch! They help the non-financial minded individual understand what's important for your business. Thanks to her and her team, my Quickbooks Online account has been the perfect solution to my business!"
                    </blockquote>
                    <img class="quote-author-pic" src="https://lh4.googleusercontent.com/-tmp9aTvnTGE/AAAAAAAAAAI/AAAAAAAAAas/RcRMOXLbWPQ/s40-c0x00000000-cc-rp-mo/photo.jpg" alt="">
                    <p class="quote-author">
                        <a target="new" href="https://www.google.com/search?source=hp&q=KHBoffice&oq=KHBoffice&gs_l=psy-ab.3..0i10k1l4.1682.4593.0.4688.19.13.5.0.0.0.110.1015.11j1.12.0....0...1.1.64.psy-ab..2.17.1041...0j0i131k1.LTwUsXHsMeE#lrd=0x8841c4369c4a6cbf:0x9e8d19651fe26055,1,">
                            <strong>Michelle Class</strong>
                        </a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <blockquote class="quote-text">
                        "Best accounting and Quickbook support by far. Great service and knowledgeable group of people. I always feel like I'm their most valued customer which makes the stress of being a new business owner so much easier. Instant reply's on all my questions. I love KHBOffice and recommend them to anyone who's looking to avoid the stresses of accounting."
                    </blockquote>
                    <img class="quote-author-pic" src="https://lh3.googleusercontent.com/-zsVzVo4yW1w/AAAAAAAAAAI/AAAAAAAAAAw/7v-UkDdCQVw/s40-c0x00000000-cc-rp-mo/photo.jpg" alt="">
                    <p class="quote-author">
                        <a target="new" href="https://www.google.com/search?source=hp&q=KHBoffice&oq=KHBoffice&gs_l=psy-ab.3..0i10k1l4.1682.4593.0.4688.19.13.5.0.0.0.110.1015.11j1.12.0....0...1.1.64.psy-ab..2.17.1041...0j0i131k1.LTwUsXHsMeE#lrd=0x8841c4369c4a6cbf:0x9e8d19651fe26055,1,">
                            <strong>Danielle Cruz</strong>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>