<section id="clients" class="space">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h1>You're in good company</h1>
                    <p class="lead">Reviews wonderful clients!</p>
                </div>
            </div>
            <div class="row hidden-sm logos">
                <ul class="list-unstyled list-inline">
                    <li class="col-sm-2 col-sm-offset-2">
                        <a href="#">
                            <img src="http://placehold.it/300x150" alt="" class="img-responsive">
                        </a>
                    </li>
                    <li class="col-sm-2">
                        <a href="#">
                            <img src="http://placehold.it/300x150" alt="" class="img-responsive">
                        </a>
                    </li>
                    <li class="col-sm-2">
                        <a href="#">
                            <img src="http://placehold.it/300x150" alt="" class="img-responsive">
                        </a>
                    </li>
                    <li class="col-sm-2">
                        <a href="#">
                            <img src="http://placehold.it/300x150" alt="" class="img-responsive">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row quote-section">
                <div class="col-sm-4">
                    <blockquote class="quote-text">
                        <a href="#">"Katie is great. We had a good training session where she walked me through some of the more in depth things that I wanted to accomplish with my small business. Instead of just billing me for one thing, she made sure it was what I needed and catered to my needs. I plan on doing another session next week to finalize my business tax software with her!"</a>
                    </blockquote>
                    <img class="quote-author-pic" src="http://placehold.it/180x180" alt="">
                    <p class="quote-author">
                        <a href="#">
                            <strong>John Doe</strong> @businessname</a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <blockquote class="quote-text">
                        <a href="#">"Katie was excellent! She was very thorough, detailed & patient as she set our account up and taught us how to use it. Will definitely use her again for future projects!"</a>
                    </blockquote>
                    <img class="quote-author-pic" src="http://placehold.it/180x180" alt="">
                    <p class="quote-author">
                        <a href="#">
                            <strong>John Doe</strong>@businessname</a>
                    </p>
                </div>
                <div class="col-sm-4">
                    <blockquote class="quote-text">
                        <a href="#">"I used Katie to look over my bookkeeping to ensure I wasn't making a mess of my records. She was very helpful, and showed me some great features to assist me in my bookkeeping. Her knowledge and expertise of Quickbooks online was very helpful!!"</a>
                    </blockquote>
                    <img class="quote-author-pic" src="http://placehold.it/180x180" alt="">
                    <p class="quote-author">
                        <a href="#">
                            <strong>John Doe</strong>@businessname</a>
                    </p>
                </div>
            </div>
        </div>
    </section>