<section id="features" class="space dark-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="ftr-left">
                        <h3>Service Highlight</h3>
                        
                        <p>Lorem ipsum reprehenderit minim in cillum exercitation labore quis velit occaecat tempor in nisi ullamco tempor.</p>
                    </div>
                    <div class="ftr-left">
                        <h3>Service Highlight</h3>
                        <p>Lorem ipsum reprehenderit minim in cillum exercitation labore quis velit occaecat tempor in nisi ullamco tempor.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-1">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <img src="{{cdn '/img/icons/buy4.svg'}}" alt="">
                                    </div>
                                    <div class="back">
                                        <div class="back-content">
                                            <h4>Web Links</h4>
                                            <p>Lorem ipsum reprehenderit minim in cillum exercitation labore quis velit tempor.</p>
                                        </div>
                                    </div>
                                    <!-- .back -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <img src="{{cdn '/img/icons/data29.svg'}}" alt="">
                                    </div>
                                    <div class="back">
                                        <div class="back-content">
                                            <h4>Web Links</h4>
                                            <p>Lorem ipsum reprehenderit minim in cillum exercitation labore quis velit tempor.</p>
                                        </div>
                                    </div>
                                    <!-- .back -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <img src="{{cdn '/img/icons/pc5.svg'}}" alt="">
                                    </div>
                                    <div class="back">
                                        <div class="back-content">
                                            <h4>Web Links</h4>
                                            <p>Lorem ipsum reprehenderit minim in cillum exercitation labore quis velit tempor.</p>
                                        </div>
                                    </div>
                                    <!-- .back -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <img src="{{cdn '/img/icons/dollar77.svg'}}" alt="">
                                    </div>
                                    <div class="back">
                                        <div class="back-content">
                                            <h4>Web Links</h4>
                                            <p>Lorem ipsum reprehenderit minim in cillum exercitation labore quis velit tempor.</p>
                                        </div>
                                    </div>
                                    <!-- .back -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>