<!-- start: Service -->
    <section id="service" class="">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="service-box">
                        <img src="{{cdn 'img/icon_2.png'}}" alt="">
                        <h3>Accounting</h3>
                        <p>Sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
                    </div>
                    <!-- end: Box -->
                </div>
                <div class="col-sm-4">
                    <div class="service-box">
                        <img src="{{cdn 'img/icon_3.png'}}" alt="">
                        <h3>Ecommerce</h3>
                        <p>Sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
                    </div>
                    <!-- end: Box -->
                </div>
                <div class="col-sm-4">
                    <div class="service-box">
                        <img src="{{cdn 'img/icon_1.png'}}" alt="">
                        <h3>Startups</h3>
                        <p>Sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
                    </div>
                    <!-- end: Box -->
                </div>
            </div>
        </div>
    </section>
    <!-- end: services -->