// =============================================================================
// PRICE (CSS)
// =============================================================================

.price--rrp,
.price--discounted {
    text-decoration: line-through;
    color: #888888;
}

.price-section--minor {
    color: color("greys", "light");
}
