<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}
        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {{{stylesheet '/assets/css/theme.css'}}}
        {{ getFontsCollection }}
        <script src="{{cdn 'assets/modernizr-custom.js'}}"></script>

        {{{head.scripts}}}
        {{{head.rsslinks}}}

        {{inject 'themeSettings' theme_settings}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{{snippet 'htmlhead'}}}
        
        <link href="https://quoteninja-cdn.firebaseapp.com/styles.min.css" rel="stylesheet" type="text/css"/>
        
        <!-- Product page jquery - desc accordion -->
        {{#if page_type '===' 'product'}}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {{/if}}
        
        <!-- New Design -->
        {{{stylesheet '/assets/css/bootstrap.css'}}}
        {{{stylesheet '/assets/css/animate.css'}}}
        <script src="https://use.fontawesome.com/94f93ad40b.js"></script>
        {{{stylesheet '/assets/css/style.css'}}}
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
    </head>
    <body>
        {{{snippet 'header'}}}
        <div class="icons-svg-sprite">{{> components/common/icons/icon-defs }}</div>

        {{#if settings.privacy_cookie}}
            {{> components/common/cookie}}
        {{/if}}

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>

        <script>
            // Exported in app.js
            window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
        </script>

        {{{footer.scripts}}}
        {{{snippet 'footer'}}}
        
        <!-- New Design -->
        <script src="{{cdn 'assets/js/jquery.js'}}"></script>
        <!-- Bootstrap - Latest compiled and minified JavaScript -->
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="{{cdn 'assets/js/flexslider.js'}}"></script>
		<script src="{{cdn 'assets/js/smoothscroll.js'}}"></script>
		<!-- <script src="{{cdn 'assets/js/softr.js'}}"></script> -->
        
        
        
        <script>
            window.QUOTENINJA_STOREID = "e3egl";
        </script>
        <script src='https://quoteninja-cdn.firebaseapp.com/vendor.min.js'></script>
        <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>
        <script src="https://quoteninja-cdn.firebaseapp.com/stencil.js"></script>

    </body>
</html>
